# Ejemplo de variables de entorno para Deploy/docker-compose.yml
# Edita según corresponda

POSTGRES_DB=BDtravelagency
POSTGRES_USER=travelagency_user
POSTGRES_PASSWORD=TravelAgency@123

# Si cambias el usuario de Docker Hub, actualiza los nombres de imagen en docker-compose.yml
# DOCKERHUB_USER=ian04
